<div class="jumbo">
  <a href="/"><h2>NZIHL Game Center</h2></a>
  <h2>About Us</h2>
  <p>
    The Gamecenter for all NZIHL games for the 2017 season.
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}
</div>
