<div class="jumbo">
  <a href="/"><h2>NZIHL Game Center</h2></a>
  <h2>Contact Us</h2>
  <p>Made by some guy from Slapshot Productions.</p>
  <p>
    Send us an email if you would like me to do some work for you.
  </p>
  {{#link-to 'about' class="button"}}
    About
  {{/link-to}}
</div>
