<div class="jumbo">
  <h2>Welcome to the NZIHL Game Center</h2>
  <p>Click the games below for stats, lineups and game times.</p>
  <p>{{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}</p>

  <p>{{#link-to 'about' class="button"}}
    Contact Us
  {{/link-to}}</p>
</div>
