{{outlet}}

<div class="container-fluid">
  <div class="page-header">
    <h3 style="text-align:center;">Welcome to the NZIHL Game Center.</h3>
  </div>
  <div class="row">
    <div class="col-sm-8">Click the games below for stats, lineups and game times.</div>
    <div class="col-sm-4"><h4>Team on bye: Southern Stampede</h4>
      <p>Stampede next game: Southern Stampede v Dunedin Thunder at Dunedin Ice Stadium</p>
    </div>
  </div>
</div>
