{{outlet}}
<div class="container-fluid">
  <div class="page-header">
    <h3 style="text-align:center;">NZIHL Teams</h3>
  </div>
  <div class="row">
    <div class="teams">
      <div class="col-sm-6">
        <a href="http://westaucklandadmirals.co.nz/" target="blank">
          <img src="assets/images/admirals.png" class="img-fluid" alt="West Auckland Admirals" />
        </a>
      </div>
      <div class="col-sm-6">
        <a href="http://www.botanyswarm.co.nz/" target="blank">
          <img src="assets/images/swarm.png" class="img-fluid" alt="Botany Swarm" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="teams">
      <div class="col-sm-4">
        <a href="http://reddevils.org.nz/" target="blank">
          <img src="assets/images/devils.png" class="img-fluid" alt="Canterbury Red Devils" />
        </a>
      </div>
      <div class="col-sm-4">
        <a href="http://www.skycitystampede.co.nz/" target="blank">
          <img src="assets/images/stampede.png" class="img-fluid" alt="Skycity Stampede" />
        </a>
      </div>
      <div class="col-sm-4">
        <a href="https://www.dunedinthunder.co.nz/" target="blank">
          <img src="assets/images/thunder.png" class="img-fluid" alt="Dunedin Thunder" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="teams">
      <div class="col-sm-6">
        <a href="https://nzicehockey.co.nz/" target="blank">
          <img src="assets/images/nzihf.png" class="img-fluid" alt="New Zealand Ice Hockey Federation" />
        </a>
      </div>
      <div class="col-sm-6">
        <a href="https://www.iceblacks.com/" target="blank">
          <img src="assets/images/iceblacks.png" class="img-fluid" alt="Ice Blacks" />
        </a>
      </div>
    </div>
  </div>
</div>
